.services_container{
  font-family: "Neue Machina";
  background-color: #EFF7FF;
  
  
}
.service1{
  background-color: #EFF7FF;
  display: flex;
}
.para{
  padding-top: 2%;
  
}

.service1>div{
  /* background-color: green; */
  align-content: center;
  justify-content: center;
  margin: 10px;
  width: 100%;
}


.services_heading{
  font-weight: 800;
  font-size: 60px;
  text-align: center;
}
.service_first{
  position: relative;
  
}
.service_paragraph{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
.services_line{
  height: 2;
  background-color: #0E0638;
  width: 90%;
}

.services_number1{
  width: 100%;
  margin-left: 5%;
}

.service_number1para{
  margin-left: 40%;
  margin-right: 26%;
  
}

.service_arrowbutton{
  width: 30%;
  margin-left: 60%;
}