.services_container{
  font-family: "Neue Machina";
  background-color: #EFF7FF;
}

.services_heading{
  font-weight: 800;
  font-size: 60px;
  text-align: center;
}
.service_first{
  position: relative;
}
.service_paragraph{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
.services_line{
  height: 2;
  background-color: #0E0638;
  width: 90%;
}

.services_number1{
  width: 150px;
  margin-left: 5%;
}
.heading1{
  font-size: 40px;
  /* margin-left: 15%; */
  position: absolute;
  /* bottom: 8px; */
  left: 16%;
  top: 305%;
  
}
.point{
  color: #5AFF15;
  font-size: 40px;
}