
.about_container{
    background-image: url("../../assets/AboutBackground.svg");
}
/* .about_leftcontainer{
    margin-top: 70px;
} */

.about_firstheading{
    font-size: 60px;
    color: #007AFF;
    margin: 0 ;
    margin-top: 100px;
    
}
.about_secondheading{
    margin: 0;
    font-size: 60px;
    color: #000000;
}
.aboutimage{
    width: 710px;
    height: 710px;
}