.container {
  position: relative;
}

.image-overlay {
  width: 25vw;
  display: none;
}

.container:hover .image-overlay {
  display: block;
}

.text, .mobile-container{
  display: none;
}
.text {
  position: absolute;
  bottom: 0;
  padding: 0 1vw;
  display: none; 
}
.container:hover .text {
  display: flex; 
}
@media screen and (max-width: 760px) {
  .container{
    display: none;
  }
  .mobile-container{
    display: block;
  }
}