/* .test{
    background-color: rgb(255, 0, 0);
    color: aliceblue;
} */

@media only screen and (max-width: 860px){
    .test{
        background-color: black;
        color: aliceblue;
    }
}

@media only screen and (min-width:860px) and (max-width: 980px){
    .test{
        background-color: red;
        color: aliceblue;
    }
}
@media only screen and (min-width:980px) and (max-width: 1080px){
    .test{
        background-color: green;
        color: aliceblue;
    }
}
@media only screen and (min-width:1080px) and (max-width: 1440px){
    .test{
        background-color: rgb(240, 184, 0);
        color: aliceblue;
    }
}
@media only screen and (min-width:1440px) and (max-width: 1980px){
    .test{
        background-color: rgb(240, 0, 188);
        color: aliceblue;
    }
}