.text{
    background-color: #007AFF;
    width: 15%;
    height:40px ;
    border: none;
    color: white;
    border-radius: 20px;
    text-align: start;
    align-items: center;
    padding-left: 2%;
}
.button_vector{
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px; 
    padding: 4%;
    align-items: center;
    margin-top: 2%;


}