.contact_container{
    background-color: #ffffff;
    display: flex;
    margin-bottom: 10%;
    
}
.contact_image{
    width: 354px;
    height: 573px;
    margin-top: 50px;
    margin-left: 100px;
}

.contact_firstheading{
    color: #141414;
    font-weight: 800;
    font-family: "Neue Machina";
    font-size: 60px;
    margin:0px;
    padding: 0px;
}
.contact_secondheading{
    color: #141414;
    font-weight: 800;
    font-family: "Neue Machina";
    font-size: 60px;
}

.contact_secondheading2{
    color: #007AFF;
    
}


.contact_leftcontainer{
  width: 50%;
  flex: 1;
  margin-bottom: 30px;
}
.contact_rightcontainer{
  margin-top: 80px;
  width: 50%;
  
}
.contact_paragraph{
  margin-right: 20%;
  font-family: "Neue Machina";

}


input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: transparent;
  width: 40%;
  font-family: "Neue Machina";
  font-size: 18px;
  
}

.contact_firstname:focus {
  outline: none;
}

.contact_lastname{
  margin-left: 30px;
  margin-top: 5%;
}
.contact_budget{
  margin-left: 30px;
  margin-top: 5%;
}
.contact_subject,.contact_message{
  display: block;
  width: 85.5%;
  margin-top: 5%;
}

.contact_submitbutton{
  width: 35%;
  height: 30%;
  
}