.NavbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0px 110px;
    background-image: url("../../assets/NavBackground.svg");
    width: auto;
    height: 100px;
    position: relative;
    z-index: 1;
}
.Logo{
    justify-self: center;
    cursor: pointer;
    width: 10rem;
    text-align: center;
    top: 60px;
    margin-left: -10%;
}
.navmenu{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    margin: 0%;
    padding: 0%;  
}
.nav-links>a{
    text-decoration: none;
    color: #ffffff;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    margin-left: 0%;
    margin-right: 2.5rem;
    font-family: "Neue Machina";
}
.nav-links>a:hover{
    color: #5AFF15;
}
.menu-icon>img{
    width: 20px;
    height: 20px;
}
.menu-icon{
    display: none;
}
.fa-bars,.fa-times{
    color: #ffffff;
    width: 20%;
}
#no-mobile1,#no-mobile2,#no-mobile3{
    display: none;
}
@media screen and (min-height: 850px) and (max-height: 1280px) {
    .nav-links>a{
        margin-right: 3.5rem;
        margin-left: 20px;
    }
    .Logo{
        margin-left: -15%;
    }
}
@media screen and (min-height:850px) and (max-height: 1080px) {
    .nav-links>a{
        margin-right: 2.5rem;
    }
}
@media screen and (max-width:850px) {
    .Logo{
        left: 0;
        margin-left: 0;
    }
    #no-mobile1,#no-mobile2,#no-mobile3{
        display: block;
    }
    nav{
        z-index: 1;
    }
    .NavbarItems{
        z-index: 1;
        padding: 0px 7%;
    }
    .navmenu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #02002C;
        width: 100%;
        height: 650px;
        position: absolute;
        top: 0%;
        left: -110%;
        align-items: stretch;
        padding:  80px 0 30px 0;
        margin: 0;
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }
    .navmenu.active{
        left: 0%;
    }
    #no-mobile1{
        margin-top: 5%;
    }
    .nav-links>a{
        margin-left: 7%;
        margin-top: 5%;
        margin-bottom: 0;
        padding: 0; 
    }
    .nav-links{
        display: block;
        widows: 100%;
        padding: 2% 0;
        color: #ffffff;
    }
    .nav-links:hover{
        color: #5AFF15
    }
    .menu-icon{
        display: block;
    }
}


