.testimonials_container{
    background-image: url("../../assets/TestimonialsBackground.svg");
    height: 590px;
    
    
}

.testimonials_heading{
    font-size: 60px;
    line-height: 100px;
    text-transform: capitalize;
    font-weight: 800;
    font-family: "Neue Machina";
    text-align: center;
    align-items: center;
    display: block;
    mix-blend-mode: normal;
    
}

.testimonials_firstheading{
    color: #007AFF;
   
}
.testimonials_subbackground{
    align-items: center;
    height: 55%;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.testimonials_subcontainer{
    position: relative;
    display: flex;
}
.testimonials_paragraph{
    position: absolute;
    left: 45%;
    right: 24%;
    top: 40%;
    font-family: "Neue Machina";
    color: #ffffff;

}
.testimonials_quote{
    position: absolute;
    left: 45%;
    right: 24%;
    top: 25%;
    width: 50px;
    
}
.testimonials_forwardbutton{
    position: absolute;
    left: 78%;
    top: 70%;
    width: 38px;
    
}
.testimonials_backwardbutton{
    position: absolute;
    left: 74%;
    top: 70%;
    width: 38px;
    
}




@media only screen and (max-width: 760px) {
    .testimonials_heading{
        font-weight:bolder;
        font-family: "Neue Machina";
        font-size: 36px;
        width: 200px;
        align-items: center;
        line-height: normal;
        margin-left: 25%;
        /* margin-right: auto; */
    }
   
    


    
  }